   {% extends 'base1.html.twig' %}
   {% block content %}
    <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{{ path('app_home1') }}">Accueil</a></li>
          <li>Evénements</li>
        </ol>
        <h2>Evénements</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">
            {% for e in tabevt %}
              
            <article class="entry">

              <div class="entry-img">
                <img src="{{asset('Front/assets/img/blog/blog-1.jpg')}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="blog-single.html">{{e.getNomEvt}} <span class="badge rounded-pill " style="color:white;background-color:#4169E1;">{{ e.getCategorie.getNomCategorie }}</span> </a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{e.getResponsable}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-calendar-week"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ e.getDateEvt|date('d-m-Y')}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ e.getHeureEvt|date('H:m:s')}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-single.html">{{e.getPlaces}} places</a></li>
                </ul>
              </div>
              
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-pin-map-fill"></i> <a href="blog-single.html">{{e.getLieuEvt}}</a></li>
                
                </ul>
              </div>
              
              <div class="entry-content">
                <p>{{e.getDescriptionEvt}}
                </p>
                <div class="read-more">
                           
                {% if e.getPlaces == 0 %}
                <button href="{{ path('participation',{'idEvt':e.id}) }}" disabled="disabled" >Participer</button> <a href="{{ path('aime',{'idEvt':e.id}) }}"><i class="bi bi-heart-fill"></i></a>
                {% else %}
                  <a href="{{ path('participation',{'idEvt':e.id}) }}">Participer</a> <a href="{{ path('aime',{'idEvt':e.id}) }}"><i class="bi bi-heart-fill"></i></a>
               {% endif %}
                </div>
              </div>

            </article><!-- End blog entry -->
                               
            {% endfor %}
            



            <div class="blog-pagination">
            
              <ul class="justify-content-center">
                {{ knp_pagination_render(tabevt) }}
              </ul>
            </div>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search <i class="bi bi-search"></i></h3>
              <div class="sidebar-search">
                <div class="input-group custom-search-form">
                 <input type="text" id="search" class="form-control" placeholder="rechercher événements...">
                </div>
              </div>
              <ul class="nav" id="side-menu">
                   <li>
                      <ul class="nav nav-second-level" id="entitiesNav">
                     </ul>
                    </li>
              </ul>
                    <!-- jQuery is necessary -->
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script type="text/javascript">
                    jQuery(document).ready(function() {
                        var searchRequest = null;
                        $("#search").keyup(function() {
                            var minlength = 2;
                            var that = this;
                            var value = $(this).val();
                            var entitySelector = $("#entitiesNav").html('');
                            if (value.length >= minlength ) {
                                if (searchRequest != null)
                                    searchRequest.abort();
                                searchRequest = $.ajax({
                                    type: "GET",
                                    url: "{{ path('ajax_search') }}",
                                    data: {
                                        'q' : value
                                    },
                                    dataType: "text",
                                    success: function(msg){
                                        //we need to check if the value is the same
                                        if (value==$(that).val()) {
                                            var result = JSON.parse(msg);
                                            $.each(result, function(key, arr) {
                                                $.each(arr, function(id, value) {
                                                    if (key == 'evts') {
                                                        if (id != 'error') {
                                                        entitySelector.append('<li><a href="/details/'+id+'">'+value+'</a></li>');
                                                            
                                                        } else {
                                                            entitySelector.append('<li class="errorLi">'+value+'</li>');
                                                        }
                                                    }
                                                });
                                            });
                                        }
                                    }
                                });
                            }
                        });
                    });
                </script> 
                <br>
              <h3 class="sidebar-title">Voir par catégorie</h3>
              <div class="sidebar-item categories">
               
               <ul>
                {% for c in tabc %}
                  <li><a href="{{ path('EventC',{'categorie':c.getId}) }}">{{c.getNomCategorie}} </a></li>
                 {% endfor %} 

                </ul>


              </div><!-- End sidebar categories-->
              <h3 class="sidebar-title">Derniers événements</h3>
            {% for e in tabevt %}
              
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix"> 
                  <img src="{{asset('Front/assets/img/blog/blog-recent-1.jpg')}}" alt="">
                  <h4><a href="blog-single.html">{{e.getNomEvt}} </a></h4>
                  <time datetime="2020-01-01">{{ e.getDateEvt|date('d-m-Y')}}</time>
                </div> {% endfor %} 
                

              </div><!-- End sidebar recent posts-->

              <h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>{% for  c in tabc %}
                  <li><a href="#">{{c.getNomCategorie}} </a></li>
                  {% endfor %} 
                </ul>
              </div><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
  
{% endblock %}
{% block javascripts %}
     <script src="{{asset('Front/assets/js/filters.js')}}"></script>
{% endblock %}