  {% extends 'base.html.twig' %}
{% block body %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1>Details événement <strong>{{ event.getNomEvt}}</srong> <a href="{{ path('listEvenement') }}" class="btn btn-primary"><i class="bi bi-box-arrow-left"></i></a></h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Evénements</li>
          <li class="breadcrumb-item active">Détails événement</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
      
  <div class="col-lg-12" style="justify-content: center ;">

          <!-- Card with an image on top -->
          <div class="card" style="justify-content: center ; margin: 30px 0px 0px 0px ;margin-left: 70px; width: 700px;">
            <img src="{{asset('Back/assets/img/evt.jpg')}}" class="card-img-top" style="height : 350px; " alt="...">
            <div class="card-body">
            
              <h5 class="card-title">{{ event.getNomEvt}}</h5>
              <p class="card-text"><strong style="color:#4169E1;">Description:</strong> <strong> {{event.getDescriptionEvt}}</strong></p>
                <p class="card-text"><strong style="color:#4169E1;">Catégorie:</strong> <strong> {{event.getCategorie.getNomCategorie}}</strong></p>
                <p class="card-text"><strong style="color:#4169E1;">Lieu de l'événement:</strong>  <strong>{{event.getLieuEvt}}</strong></p>
                 <p class="card-text"><strong style="color:#4169E1;">Date:</strong>  <strong>{{ event.getDateEvt|date('d-m-Y')}}</strong></p>
                  <p class="card-text"><strong style="color:#4169E1;">Heure:</strong>  <strong>{{event.getHeureEvt|date('H:m:s')}}</strong></p>
                   <p class="card-text"><strong style="color:#4169E1;">Email du responsable événement:</strong> <strong> {{event.getResponsable}}</strong></p>
                    <p class="card-text"><strong style="color:#4169E1;">Nombre de places:</strong>  <strong>{{event.getPlaces}}</strong></p>

            </div>
          </div><!-- End Card with an image on top -->
           </main>
      
     {% endblock %}