{% extends 'frontbase.html.twig' %}
{% block body %}
       <main id="main">
           <!-- ======= Breadcrumbs ======= -->
           <section class="breadcrumbs">
               <div class="container">

                   <ol>
                       <li><a href="{{ path('app_home1') }}">Accueil</a></li>
                       <li>Projet</li>
                   </ol>
                   <h2>Projet</h2>

               </div>
           </section><!-- End Breadcrumbs -->

           <!-- ======= Blog Section ======= -->
           <section id="blog" class="blog">
               <div class="container" data-aos="fade-up">

                   <div class="row">

                       <div class="col-lg-8 entries">
                           {% for p in tabprojet %}
                               <article class="entry">

                                   <div class="entry-img"  class="card-img-top" style="height : 350px; " alt="...">
                                       <img src="{{asset('Front/assets/img/blog/Imobilier.jpg')}}" alt="" class="img-fluid">
                                   </div>

                                   <h2 class="entry-title">
                                       <a href="blog-single.html">{{p.getNomProjet}} <span class="badge rounded-pill " style="color:white;background-color:#4169E1;">{{ p.getCategorieProj}}</span> </a>
                                   </h2>

                                   <div class="entry-meta">
                                       <ul>
                                           <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">{{p.getNomProjet}}</a></li>
                                           <li class="d-flex align-items-center"><i class="bi bi-calendar-week"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ p.getDateDebut|date('d-m-Y')}}</time></a></li>
                                           <li class="d-flex align-items-center"><i class="bi bi-calendar-week"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{ p.getDateFin|date('d-m-Y')}}</time></a></li>
                                           <li class="d-flex align-items-center"><i class="bi bi-people"></i> <a href="blog-single.html">{{p.getEtatProjet}} Etat de Projet</a></li>
                                       </ul>
                                   </div>


                                   <div class="entry-content">
                                       <p>{{p.getContent}}
                                       </p>
                                       <div class="read-more">
                                           <a href="blog-single.html">Investir</a>
                                       </div>
                                   </div>

                               </article><!-- End blog entry -->
                           {% endfor %}
                           <div class="blog-pagination">
                               <ul class="justify-content-center">
                                   <li><a href="#">1</a></li>
                                   <li class="active"><a href="#">2</a></li>
                                   <li><a href="#">3</a></li>
                               </ul>
                           </div>

                       </div><!-- End blog entries list -->

                       <div class="col-lg-4">

                           <div class="sidebar">

                               <h3 class="sidebar-title">Search</h3>
                               <div class="sidebar-item search-form">
                                   <form action="">
                                       <button type="submit"><i class="bi bi-search"></i></button>
                                   </form>
                               </div><!-- End sidebar search formn-->

                               <h3 class="sidebar-title">Voir par catégorie</h3>
                               <div class="sidebar-item categories">
                                   <ul>
                                       {% for p in tabprojet %}
                                           <li><a href="#">{{p.getCategorieProj}} </a></li>
                                       {% endfor %}
                                   </ul>
                               </div><!-- End sidebar categories-->
                               <h3 class="sidebar-title">Derniers projet d'investissement</h3>
                               {% for p in tabprojet %}

                               <div class="sidebar-item recent-posts">
                                   <div class="post-item clearfix">
                                       <img src="{{asset('Front/assets/img/blog/blog-recent-1.jpg')}}" alt="">
                                       <h4><a href="blog-single.html">{{p.getNomProjet}} </a></h4>
                                       <time datetime="2020-01-01">{{ p.getDateDebut|date('d-m-Y')}}</time>
                                       <time datetime="2020-01-01">{{ p.getDateFin|date('d-m-Y')}}</time>


                                   </div> {% endfor %}


                               </div><!-- End sidebar recent posts-->

                               <h3 class="sidebar-title">Tags</h3>
                               <div class="sidebar-item tags">
                                   <ul>{% for p in tabprojet %}
                                           <li><a href="#">{{p.getCategorieProj}} </a></li>
                                       {% endfor %}
                                   </ul>
                               </div><!-- End sidebar tags-->

                           </div><!-- End sidebar -->

                       </div><!-- End blog sidebar -->

                   </div>

               </div>
           </section><!-- End Blog Section -->

       </main><!-- End #main -->

   {% endblock %}