{% extends 'baseFront.html.twig' %}

{% block content %}

    <section id="hero" class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with
                        Bootstrap</h2>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#about"
                               class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Get Started</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="assets/img/hero-img.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </section>


    <div class="container">
        <div class="row justify-content-md-center">
            <h1>Registration</h1>
            <div class="col-lg-6 ">

                {{ form_start(form,{'attr': {'novalidate': 'novalidate','class':''}} ) }}

                <div class="row gy-4 ">

                    <div class="col-md-12">
                        {{ form_errors(form.nom) }}
                        {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Your Name'}}) }}
                    </div>


                    <div class="col-md-12">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'email'}}) }}
                    </div>


                    <div class="col-md-12">
                        {{ form_errors(form.telephone) }}
                        {{ form_widget(form.telephone,{'attr':{'class':'form-control','placeholder':'phone number'}}) }}
                    </div>


                    <div class="col-md-12">
                        {{ form_errors(form.password) }}
                        {{ form_widget(form.password,{'attr':{'class':'form-control','placeholder':'Password'}}) }}
                    </div>

                    <div class="col-md-12">
                        {{ form_errors(form.roles) }}
                        {{ form_widget(form.roles,{'attr':{'class':'form-control','placeholder':'Usertype'}}) }}
                    </div>

                    <button class="btn btn-primary">{{ button_label|default('Register') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <br>
{% endblock %}